# ignore my todo file
todo.txt

# ignore all images
*.jpg
*.png
*.zip

# messing around 
*.ipynb
adversarial_noise.py

# lets ignore logs and checkpoints for now
checkpoints/
*.tar
logs/

# not to mess up each others sbats
*.sbat

