# ignore my todo file
todo.txt

# ignore all images
*.jpg
*.png
*.zip

# data
brain_data
cityscapes
dog_data
facades
preprocessing_code
test_images
facades.zip

# messing around 
*.ipynb
adversarial_noise.py

# lets ignore logs and checkpoints for now
checkpoints/
*.tar
logs/

# not to mess up each others sbats
*.sbat

# misc
*/.DS_Store
__pycache__
